@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

.mercTitle{
    font-size: larger;
    list-style: none;
    font-weight:600;
}
.mercTitle::before {
  content: "•"; 
  
  color: #FFBC00; 
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 26px;
  
}
.card{
    margin-top:1%;
}
.userDeets{
  
  display:flex;
  gap: 2%;

}
.username{
margin-top:.8em;
margin-left: .4em;
color:#062C33 ;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.userContainer{
  margin-top:3%;
  display:flex;
  justify-content: space-between;
  width:87%;
}
.rate{
display:flex;
flex-direction:column;
font-style: normal;
font-weight: 700;
font-size: 16.1842px;
color: rgba(6, 44, 51, 0.7);
margin-left: 6%;
}
.pairs{
  display:flex;
  gap:35%;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 9px;
color: rgba(6, 44, 51, 0.7);
padding:2%;

}
.numbers{
  display:flex;
  gap:6.5%;
 align-items: justify;
 margin-top:-20%;
 padding:2%;
}
.left{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}
.arrow{
  margin-top:.7em;
  margin-left:.2rem;
}
.secondPair{
  margin-left: .8rem;
}

.deets{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.rating{
  display:flex;
  justify-content: space-evenly;
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 11px;
color: rgba(6, 44, 51, 0.6);
}
.payCont{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 9px;
color: rgba(6, 44, 51, 0.5);
margin-left: 2rem;
}
 .algo, .star{
  margin-top:.6em;
}
.buttons{
  display:flex;
  gap: .5rem;
}
.reviews {
  width:10vw;
  height:7vh;
  border-radius:80px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
color: rgba(6, 44, 51, 0.5);
font-size: 12px;
line-height: 11px;
padding: 6.31394px 18.482px;
background: rgba(6, 44, 51, 0.05);
border: 0.924102px solid rgba(6, 44, 51, 0.1);
cursor:pointer;
}
.select{
  background: #FEB800;
box-shadow: 0px 1.34346px 7.39894px rgba(255, 188, 0, 0.5);
border-radius: 80px;
padding: 6.09336px 21.5299px;
gap: 4.06px;
width:10vw;
  height:7vh;
  border-radius:80px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
line-height: 11px;
color: #FFFFFF;
border: 0.924102px solid rgba(6, 44, 51, 0.1);
cursor:pointer
}
