.ChatBoxcontainer {
    background: rgba(255, 255, 255, 0.64);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 14vh 60vh 13vh;
}

.chatheader {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}

.chatbody {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    overflow: scroll;
}

.message {
    background: #216c78;
  /* background:  linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%); */
  color: white;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message>span:nth-child(2){
    font-size: 0.7rem;
    /* color: rgba(40, 52, 62, 0.07); */
    align-self: end;
    color:white;
}

.own {
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
  background: #128c7e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  /* background: linear-gradient(98.63deg, #24e4f0 0%, #358ff9 100%); */
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    transition: all 100ms ease-out;
  }
  
  .button:hover {
    color: #fca61f;
    border: 2px solid #fca61f;
    cursor: pointer;
    background: transparent;
  }
  
  .button:disabled{
    background: silver;
    pointer-events: none;
  }
  
  
.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follower>div{
    display: flex;
    gap: 10px;
}


.followerImage{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name>span:nth-of-type(1){
    font-weight: bold;
}

.chatsender {
    background: white;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    align-self: end;
}
.chatsender>input{
    height: 70%;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex  :1 ;
    font-size: 14px;
    padding: 0px 15px 0px 15px;
}
.chatsender>div:nth-of-type(1)
{
    background: rgb(233, 233, 233);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer
}
.chatsender>div{
    height: 70%;
    padding: 0px 15px 0px 15px;
}
.chatboxemptymessage {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 20px;
  }